@tailwind base;
@tailwind components;
@tailwind utilities;

.icons-top{
  @apply
  w-10 
  h-10 
  rounded-full
  bg-slate-300 
  flex 
  items-center 
  justify-center 
  cursor-pointer 
  hover:bg-slate-400
  hover:text-white;
}
.post-options{
  @apply
  w-6 
  h-6 
  rounded-full
  bg-slate-300 
  flex 
  items-center 
  justify-center 
  cursor-pointer 
  hover:bg-slate-400
  hover:text-white;
}

.input{
  @apply block
  w-full
  px-3
  py-1.5
  text-base
  font-normal
  text-gray-700
  bg-white bg-clip-padding
  border border-solid border-gray-300
  rounded
  transition
  ease-in-out
  m-0
  focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none;
}

.input-false{
  @apply block
  w-full
  px-3
  py-1.5
  text-base
  font-normal
  text-gray-700
  bg-white bg-clip-padding
  border border-solid border-red-600
  rounded
  transition
  ease-in-out
  m-0
  focus:text-gray-700 focus:bg-white focus:border-red-300 focus:outline-none;
}

.post-actions{
  @apply
  bg-slate-500
   w-8
   h-6 
   flex 
   rounded-md
 hover:bg-slate-700 
 justify-center 
 items-center
}

.customButton{
  @apply     
  px-6
  py-2.5
  bg-blue-600
  text-white
  font-medium
  text-xs
  leading-tight
  uppercase
  rounded
  shadow-md
  hover:bg-blue-700 hover:shadow-lg
  focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
  active:bg-blue-800 active:shadow-lg
  transition
  duration-150
  ease-in-out;
}
.redButton{
  @apply     
  px-6
  py-2.5
  bg-red-600
  text-white
  font-medium
  text-xs
  leading-tight
  uppercase
  rounded
  shadow-md
  hover:bg-red-700 hover:shadow-lg
  focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0
  active:bg-red-800 active:shadow-lg
  transition
  duration-150
  ease-in-out;
}

.notification-button{
  @apply
  bg-blue-600
  text-white
  font-medium
  text-xs
  leading-tight
  uppercase
  rounded
  shadow-md
  hover:bg-blue-700 hover:shadow-lg
  focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
  active:bg-blue-800 active:shadow-lg
  transition
  duration-150
  w-8
  h-8
  rounded-full
  ease-in-out;
}

.sidebar-item{
  @apply
  flex
  flex-row 
  transition 
  ease-in-out 
  duration-150 
  hover:rounded-lg 
  hover:py-1  
  hover:px-6 
  cursor-pointer 
  hover:bg-slate-100;
}


@layer base {
  h1 {
    @apply text-6xl;
  }
  h2 {
    @apply text-5xl;
  }
  h3{
    @apply text-4xl;
  }
  h4{
    @apply text-3xl;
  }
  h5{
    @apply text-2xl;
  }  
  h6{
    @apply text-xl;
  }  

  ol{
    @apply list-decimal
  }

  ul{
    @apply list-disc
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }  
}



